/* Seccion Mis Conocimientos */

.container-conocimientos {
    background-color: #FFEFEF;
}

.container-cards-conocimientos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card-conocimientos {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: solid 1px gray;
    text-align: center;
    transition: 0.1s;
}

.card-conocimientos:hover {
    border: solid 2px #ff6884;
}

.centrado-texto {
    box-sizing: border-box;
    text-align: center;
}

.div-conocimientos {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*MEDIA QUERY DESKTOP*/
@media (min-width: 1000px) {
    .div-conocimientos {
        padding-top: 100px;
    }

    .container-cards-conocimientos {
        padding-top: 100px;
        padding: 50px 200px;
    }

    .card-conocimientos {
        width: 35vh;
        height: 35vh;
        margin: 10px;
    }

    .centrado-texto {
        font-size: 1.2rem;
        width: 40%;
    }

    .card-image {
        font-size: 80px;
    }
}

/*MEDIA QUERY TABLET*/
@media (min-width: 700px) and (max-width: 1000px) {
    .div-conocimientos {
        padding-top: 100px;
    }

    .container-cards-conocimientos {
        padding-top: 200px;
        padding: 50px 100px;
    }

    .card-conocimientos {
        width: 25vh;
        height: 25vh;
        margin: 10px;
    }

    .centrado-texto {
        font-size: 1.2rem;
        width: 60vh;
    }

    .card-image {
        font-size: 80px;
    }
}

/*MEDIA QUERY MOBILE*/
@media  (max-width: 700px) {
    h2 {
        font-size: 3rem;
        text-align: center;
    }

    .div-conocimientos {
        padding-top: 100px;
    }

    .container-cards-conocimientos {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .card-conocimientos {
        width: 20vh;
        height: 20vh;
        margin: 10px;
    }

    .centrado-texto {
        font-size: 1.2rem;
        width: 40vh;
    }

    .card-image {
        font-size: 80px;
    }
}