/* Sección Formulario */

.section-form {
    background-color: #FFEFEF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-form {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container-form-x2 {
    box-sizing: border-box;
}

.container-contactame-click {
    display: flex;
    flex-direction: column;
}

.contacto-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0;
}

.icon {
    margin-right: 10px;
}

.txt-form {
    box-sizing: border-box;
}

.form-names {
    display: flex;
}

input {
    height: 40px;
}

.mi-input {
    margin: 10px 0;
    border-radius: 20px;
    border: solid 1px #FFEFEF;
    background-color: #FFEFEF;
    width: 100%;
    padding: 10px;
}

.name-input {
    flex-grow: 1;
}

.input-izq {
    margin-right: 10px;
}

.input-der {
    margin-left: 10px;
}

.enviar {
    height: 50px;
    width: 120px;
    background-color: #ff6884;
}

/*MEDIA QUERY DESKTOP*/
@media (min-width: 1000px) {
    .container-form {
        margin: 120px;
        padding: 30px;
        border-radius: 30px;
        border: solid 1px gray;
    }

    .container-form-x2 {
        width: 50%;
        margin: 50px;
    }

    .txt-form {
        width: 75%;
        margin: 20px 0;
    }

    .txt-contact {
        font-size: 1.3rem;
    }
}

/*MEDIA QUERY TABLET*/
@media (min-width: 576px) and (max-width: 1000px) {
    .container-form {
        margin: 0;
        padding: 0px;
        flex-direction: column;
    }

    .container-form-x2 {
        width: 100%;
        padding: 20px 50px;
    }

    .txt-form {
        box-sizing: border-box;
        width: 85%;
        margin: 20px 0;
        
    }

    .txt-contact {
        font-size: 1.7rem;
    }

    .contacto-icon {
        font-size: 1.7rem;
    }

    .icon {
        width: 40px;
        height: 40px;
    }

    .container-contactame-click {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .mi-form {
        font-size: 1.7rem;
    }

    .mi-input {
        font-size: 1.5rem;
    }
}

/*MEDIA QUERY MOBILE*/
@media (max-width: 576px) {
    .container-form {
        margin: 120px;
        padding: 30px;
    }

    .container-form-x2 {
        width: 50%;
        margin: 50px;
    }

    .txt-form {
        box-sizing: border-box;
        width: 85%;
        margin: 20px 0;
        
    }

    .txt-contact {
        font-size: 1.3rem;
    }
}