/* Sección Formulario */

.section-form {
    background-color: #FFEFEF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-form {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container-form-x2 {
    box-sizing: border-box;
}

.container-contactame-click {
    display: flex;
    flex-direction: column;
}

.contacto-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.txt-form {
    box-sizing: border-box;
}

.form-names {
    display: flex;
}

.mi-input {
    border-radius: 20px;
    border: solid 1px #FFEFEF;
    background-color: #FFEFEF;
}

.name-input {
    flex-grow: 1;
}

.enviar {
    background-color: #ff6884;
    color: white;
}

/*MEDIA QUERY DESKTOP*/
@media (min-width: 1000px) {

    input {
        height: 40px;
    }

    .container-form {
        margin: 120px;
        padding: 30px;
        border-radius: 30px;
        border: solid 1px gray;
    }

    .container-form-x2 {
        width: 50%;
        margin: 50px;
    }

    .txt-form {
        width: 75%;
        margin: 20px 0;
    }

    .txt-contact {
        font-size: 1.3rem;
    }

    .contacto-icon {
        margin: 10px 0;
    }

    .icon {
        margin-right: 10px;
    }

    .mi-input {
        margin: 10px 0;
        width: 100%;
        padding: 10px;
    }
    
    .input-izq {
        margin-right: 10px;
    }
    
    .input-der {
        margin-left: 10px;
    }

    .enviar {
        height: 50px;
        width: 120px;
    }
}

/*MEDIA QUERY TABLET*/
@media (min-width: 700px) and (max-width: 1000px) {

    input {
        height: 40px;
    }

    .container-form {
        margin: 0;
        padding: 0px;
        flex-direction: column;
    }

    .container-form-x2 {
        width: 100%;
        padding: 20px 50px;
    }

    .txt-form {
        box-sizing: border-box;
        width: 85%;
        margin: 20px 0;

    }

    .txt-contact {
        font-size: 1.7rem;
    }

    .contacto-icon {
        font-size: 1.7rem;
    }

    .icon {
        margin-right: 10px;
        width: 40px;
        height: 40px;
    }

    .container-contactame-click {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .mi-form {
        font-size: 1.7rem;
    }

    .mi-input {
        font-size: 1.5rem;
        margin: 10px 0;
        width: 100%;
        padding: 10px;
    }

    .input-izq {
        margin-right: 10px;
    }
    
    .input-der {
        margin-left: 10px;
    }
    
    .contacto-icon {
        margin: 10px 0;
    }

    .enviar {
        height: 50px;
        width: 120px;
    }
}

/*MEDIA QUERY MOBILE*/
@media (max-width: 700px) {

    input {
        height: 40px;
    }

    .container-form {
        flex-direction: column;
    }

    .container-form-x2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .txt-form {
        box-sizing: border-box;
        width: 85%;
        margin: 20px 0;

    }

    .txt-contact {
        font-size: 1.1rem;
    }

    .contacto-icon {
        font-size: 1.5rem;
    }

    .icon {
        margin-right: 10px;
        width: 40px;
        height: 40px;
    }

    .container-contactame-click {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .mi-form {
        font-size: 1.7rem;
    }

    .mi-input {
        font-size: 1.5rem;
        margin: 10px 0;
        width: 100%;
        padding: 10px;
    }
    
    .contacto-icon {
        margin: 10px 0;
    }

    .escribime {
        margin: 15px;
    }

    .form-names {
        flex-direction: column;
    }

    .enviar {
        height: 50px;
        width: 120px;
    }
}