/* Sección Presentacion */

.seccion-ppl-me {
    font-size: 45px;
}

.presentacion {
    justify-content: center;
}

.div-section-ppl {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.section-ppl-name {
    font-style: italic;
    color: var(--fucsia);
}

.button-section-ppl {
    background-color: var(--fucsia);
    border-radius: 40px;
    border-color: var(--fucsia);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-self: center;
}

.button-a {
    color: white;
    text-decoration-line: none;

}




/*MEDIA QUERY DESKTOP*/
@media (min-width: 1000px) {
    .presentacion {
        padding-top: 150px;
        padding-bottom: 100px;
    }

    .div-section-ppl {
        margin-left: 160px;
    }

    .section-ppl-name {
        font-size: 90px;
    }

    .section-ppl-desc {
        font-weight: 80;
        font-size: 20px;
    }

    .button-section-ppl {
        width: 20vh;
        height: 36px;
        margin: 20px 0px;
        font-size: 1rem;
    }

    .img-ppl {
        margin-right: 160px;
        height: 380px;
        display: flex;
        justify-content: center;
        flex-grow: 1;
    }
}

/*MEDIA QUERY TABLET*/
@media (min-width: 700px) and (max-width: 1000px) {
    .presentacion {
        padding-top: 150px;
        padding-bottom: 100px;
    }

    .div-section-ppl {
        margin-left: 160px;
    }

    .section-ppl-name {
        font-size: 90px;
    }

    .section-ppl-desc {
        font-weight: 80;
        font-size: 20px;
    }

    .button-section-ppl {
        width: 20vh;
        height: 36px;
        margin: 20px 0px;
        font-size: 1rem;
    }

    .img-ppl {
        margin-right: 160px;
        height: 380px;
        display: flex;
        justify-content: center;
        flex-grow: 1;
    }
}

/*MEDIA QUERY MOBILE*/
@media (max-width: 700px) {
    .presentacion {
        padding-top: 150px;
        padding-bottom: 50px;
    }

    .div-section-ppl {
        justify-content: center;
        text-align: center;
        margin-left: 0px;
        align-items: center;
    }

    .div-image-ppl {
        justify-content: center;
        text-align: center;
        margin-left: 0px;
    }

    .section-ppl-name {
        font-size: 90px;
    }

    .section-ppl-desc {
        font-weight: 80;
        font-size: 20px;
    }

    .button-section-ppl {
        width: 20vh;
        height: 36px;
        margin: 20px 0px;
        font-size: 1rem;
        ;
    }

    .img-ppl {
        margin-top: 20px;
    }

    .imagen-presentacion {
        width: 30vh;
    }
}