
/* Sección Mis Proyecyos */

.section-proyectos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.container-proyectos {    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card-proyectos {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: solid 1px gray;
    text-align: center;
    transition: 0.1s;
}

/*MEDIA QUERY DESKTOP*/
@media (min-width: 1000px) {
    .section-proyectos {
        padding-top: 100px;
    }

    .container-proyectos {
        padding: 50px 100px;
    }

    .card-proyectos {
        width: 45vh;
        height: 45vh;
        margin: 10px;
    }
    
    .image-card {
        height: 30vh;
    }
}

/*MEDIA QUERY TABLET*/
@media (min-width: 576px) and (max-width: 1000px) {
    .section-proyectos {
        padding-top: 100px;
    }

    .container-proyectos {
        padding: 50px 50px;
    }

    .card-proyectos {
        width: 28vh;
        height: 28vh;
        margin: 10px;
    }

    .image-card {
        height: 20vh;
    }
}

/*MEDIA QUERY MOBILE*/
@media  (max-width: 576px){
    .section-proyectos {
        padding-top: 100px;
    }

    .container-proyectos {
        padding: 50px 100px;
    }

    .card-proyectos {
        width: 45vh;
        height: 45vh;
        margin: 10px;
    }

    .image-card {
        height: 30vh;
    }
}