* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --fucsia: #ff6884;
    --rosa-blanco: #FFEFEF;

}

body {
    background-color: #F0EBE3;
}

/* Reutilizable */

.section-doble {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

h2 {
    font-size: 45px;
    font-weight: bold;
}

.nombre-card {
    font-weight: bold;
}


/*MEDIA QUERY DESKTOP*/
@media (min-width: 1000px) {
    .nombre-card {
        padding-top: 20px;
        font-size: 20px;
    }

}

/*MEDIA QUERY TABLET*/
@media (min-width: 700px) and (max-width: 1000px) {
    .nombre-card {
        padding-top: 20px;
        font-size: 1.5rem;
    }
}

/*MEDIA QUERY MOBILE*/
@media (max-width: 700px) {
    .nombre-card {
        padding-top: 20px;
        font-size: 20px;
    }

    .section-doble {
        flex-direction: column;
    }
}