* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F0EBE3;
}

/* Reutilizable */

.section-doble {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

h2 {
    font-size: 45px;
    font-weight: bold;
}



/*MEDIA QUERY DESKTOP*/
@media (min-width: 1000px) {
    .container-cards {
        padding: 50px 200px;
    }

    .card {
        margin: 10px;
    }
}

/*MEDIA QUERY TABLET*/
@media (min-width: 576px) and (max-width: 1000px) {
    .container-cards {
        padding: 50px 200px;
    }

    .card {
        margin: 10px;
    }
}

/*MEDIA QUERY MOBILE*/
@media  (max-width: 576px){
    .container-cards {
        padding: 50px 200px;
    }

    .card {
        margin: 10px;
    }
}