* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: #F0EBE3;
}

/* NAVEGADOR */
.nav-container {
    background-color: #F3D0D7;
    padding-right: 50px;

}

.nav-bar {

    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.nav-element {

    padding: 10px;
    margin: 20px;
    border-radius: 30px;



}

.contact {
    background-color: #ff6884;

}

/*Main*/
.imagen-presentacion {
    width: 380px;
}

.section-ppl {

    padding: 140px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

h1 {
    font-size: 45px;

}

.section-ppl-name {
    font-style: italic;
    font-size: 90px;
    color: #ff6884;

}

.section-ppl-desc {
    font-weight: 80;
    font-size: 20px;
}


@media (max-width: 576px) {

    .section-ppl {
        flex-wrap: wrap;
        justify-content: center;

    }

    .section-ppl-desc {
        text-align: center;

    }

}