* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: #F0EBE3;
}

/* NAVEGADOR */
.nav-container {
    background-color: #F3D0D7;
    padding-right: 50px;

}

.nav-bar {

    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.nav-element {

    padding: 10px;
    margin: 20px;
    border-radius: 30px;



}

.contact {
    background-color: #ff6884;

}


/*Main}*/


.section-doble {


    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;


}

h1 {
    font-size: 45px;

}

h2 {
    font-size: 45px;
    font-weight: bold;
}

.section-ppl-name {
    font-style: italic;
    font-size: 90px;
    color: #ff6884;

}

.section-ppl-desc {
    font-weight: 80;
    font-size: 20px;
}

.button-section-ppl {
    background-color: #ff6884;
    border-radius: 40px;
    width: 20vh;
    height: 36px;
    margin: 20px 0px;
    border-color: #ff6884;
    font-size: 1.1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-self: center;
}

.div-section-ppl {
    display: flex;
    flex-direction: column;
}

.container-conocimientos {

    text-align: center;
    background-color: #FFEFEF;

    padding-top: 140px;

}

.container-cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card {
    width: 35vh;
    height: 35vh;
    background-color: white;
    margin: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: solid gray;
}

.card:hover {
    border: solid #ff6884;
}

.card-image {
    font-size: 80px;
}

.nombre-card {
    padding-top: 20px;
    font-size: 20px;
    font-weight: bold;
}

.conocimientos-texto {
    box-sizing: border-box;
    width: 40%;

}

.div-conocimientos {
    display: flex;
    flex-direction: column;
    align-items: center;

}

/*MEDIA QUERY MOBILE*/
@media (max-width: 576px) {

    .section-doble {
        flex-wrap: wrap;
        justify-content: center;

    }

    .section-ppl-name {
        text-align: center;
    }

    .section-ppl-desc {
        text-align: center;

    }

    .div-section-ppl {
        align-items: center;
    }

    .img-ppl {
        width: 100vh;
        display: flex;
        justify-content: center;
    }

    /**/
    .imagen-presentacion {
        width: 90%;
    }

    .card {
        width: 20vh;
        height: 20vh;
        margin: 10px;
    }

    .card-image {
        font-size: 50px;
    }

}